/*rgb(46,45,110)*/
*{
    margin: 0px; padding: 0px; font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    background-color: rgb(46,45,110);
    border-bottom: 3px solid black;
}
header h1{
    color: white;
    margin-left: 30px;
}
header nav a{
    text-decoration: none;
    color: white;
    padding: 5px;
    margin-right: 30px;
    font-size: 17px;
}
nav a:hover{
    padding: 6px;
    font-size: 19px;
    text-decoration: underline;
}
/*--------------------------------------------Body*/

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 650px;
    align-items: center;
}
div img{
    margin-right: 40px  ;
}
main article{
    width: 700px;
    height: 500px;
}
main article h1{
    font-size: 40px;
}
article p{
    font-size: 20px;
}
article h1, article p{
    margin-top: 20px;
    margin-left: 25px;
}
article a{
    text-align: center;
    margin: 25px;
    display: block;
    font-size: 20px;
    padding: 15px;
    background-color: rgb(46,45,110);
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
article a:hover{
    padding: 16px;
    font-size: 21px;
    text-decoration: underline;
}
/*----------------------------------------------------body section 2*/
#section2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 650px;
    align-items: center;
    background-color: white;
}
#imagem2{
    margin-left: 40px  ;
}
#article2{
    width: 700px;
    height: 500px;
}
#titulo2, #titulo02{
    font-size: 40px;
    display:flex;
    justify-content: right;
    margin-right: 70px;
}
#paragrafo2{
    font-size: 20px;
    display: flex;
}
#titulo2 #titulo02, #paragrafo2{
    margin-top: 20px;
    margin-right: 70px;
}
#titulo02{
    margin-top: 5px;
}
/*----------------------------------------------------Section*/
section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    background-color: rgb(46,45,110);
    border-bottom: solid black 2px;
    border-top: solid black 2px;
}
#div1, #div2, #div3{
    padding: 10px;
    height: 400px;
    width: 400px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 5px white;
}
#prg1, #prg2, #prg3{
    font-size: 30px;
}
#prg4, #prg5, #prg6{
    font-size: 20x;
    margin-top: 10px;
    padding: 5px;
    text-align: left;
}
#div1 a, #div2 a, #div3 a{
    padding: 5px;
    margin-top: 25px;
    text-align: center;
    background-color: rgb(46,45,110);
    display: block;
    border-radius: 30px;
    color: white;
    text-decoration: none;
}
#div1 a:hover{
    padding: 6px;
    font-size: 17px;
    text-decoration: underline;
}
#div2 a:hover{
    padding: 6px;
    font-size: 17px;
    text-decoration: underline;
}
#div3 a:hover{
    padding: 6px;
    font-size: 17px;
    text-decoration: underline;
}
/*----------------------------------------------------footer*/
footer{
    height: 50px;
    background-color: rgb(40, 40, 95);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: rgb(134, 134, 134);
    padding: 20px;
}